/* BODY */
body {
    min-height: 100hv;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* display: flex; */
}
/* ------------------------------------------ */
/* HERO */

/* HEADER */
.hero {
    background-color: #1f2937;  
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px ;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    padding: 0px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

.subtext, .header-links > *  {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.top-links {
    margin: 10px;
}

.header-links {
    list-style-type: none;
    font-weight: 300;
}

/* CONTENT ONE */
.content-one {
    display: flex;
    padding: 80px 150px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-content {
    width: 420px;
}

.subtext {
    margin-top: 0;
    font-weight: 300;
}

button {
    padding: 10px 30px ;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
}

.black-woman-on-laptop {
    width: 450px;
    flex-basis: 20%;
}

/* ------------------------------------------ */
/* SECTION TWO */

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px ;
    margin-top: 10px;
    margin-bottom: 100px;

}

h2 {
    width: 500px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 0;
    width:100%; 
    margin: 0;
}

.illustrations-block {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
li {
    width: 140px;
    margin: 30px;
    text-align: center;
}

.illustration {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
    border-width: 4px;
}

/* ------------------------------------------ */
/* SECTION THREE */

.section-three {
    background-color: #E5E7EB;
    padding: 80px 240px;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

figcaption {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------------------ */
/* SECTION FOUR */

.section-four {
    padding: 40px 140px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.cta-section {
    background-color: #3882f6;
    width: 850px;
    display:flex;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.cta-main-text {
    color: #f9faf8;
    font-size: 25px;
    font-weight: 400;
}

.cta-subtext {
    color: #e0e1e8;
    font-size: 18px;
    font-weight: 200;
}

.button-sect-four {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #f9faf8;
    /* padding: auto 24px; */
    font-weight: 700;
    font-size: 15px;
}

/* ------------------------------------------ */
/* FOOTER */

.footer {
    background-color: #1f2937;
    padding: 32px 0;
    color: #e0e1e8;
    font-weight: 300;
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.copyright {
    margin: auto 8px;
}